In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_data = pd.read_csv('/content/Train_data.csv')
train_data.head()

   Elevation  Aspect  Slope  ...  Soil_Type_39  Soil_Type_40  Cover_Type
0       2696     123     10  ...           0.0           0.0         6.0
1       3269     110     19  ...           0.0           0.0         1.0
2       3283     322     18  ...           0.0           0.0         7.0
3       2847      89     31  ...           0.0           0.0         5.0
4       3248      93     12  ...           0.0           0.0         7.0

[5 rows x 55 columns]

In [3]:
test_data = pd.read_csv('/content/Test_data.csv')
test_data.head()

   Elevation  Aspect  Slope  ...  Soil_Type_38  Soil_Type_39  Soil_Type_40
0       2157     345     11  ...             0             0             0
1       2740      40     23  ...             0             0             0
2       2404      46     11  ...             0             0             0
3       3002     201     23  ...             0             0             0
4       2360     306      6  ...             0             0             0

[5 rows x 54 columns]

In [5]:
print(train_data.shape)
print('..................')
print(test_data.shape)

(64559, 55)
..................
(50000, 54)

In [6]:
print(train_data.isnull().sum().sum())
print('...................')
print(test_data.isnull().sum().sum())

16
...................
0

In [7]:
print(train_data.isnull().value_counts())
print('...................')
print(test_data.isnull().value_counts())

Elevation  Aspect  Slope  Horizontal_Distance_To_Hydrology  Vertical_Distance_To_Hydrology  Horizontal_Distance_To_Roadways  Hillshade_9am  Hillshade_Noon  Hillshade_3pm  Horizontal_Distance_To_Fire_Points  Wilderness_Area_1  Wilderness_Area_2  Wilderness_Area_3  Wilderness_Area_4  Soil_Type_1  Soil_Type_2  Soil_Type_3  Soil_Type_4  Soil_Type_5  Soil_Type_6  Soil_Type_7  Soil_Type_8  Soil_Type_9  Soil_Type_10  Soil_Type_11  Soil_Type_12  Soil_Type_13  Soil_Type_14  Soil_Type_15  Soil_Type_16  Soil_Type_17  Soil_Type_18  Soil_Type_19  Soil_Type_20  Soil_Type_21  Soil_Type_22  Soil_Type_23  Soil_Type_24  Soil_Type_25  Soil_Type_26  Soil_Type_27  Soil_Type_28  Soil_Type_29  Soil_Type_30  Soil_Type_31  Soil_Type_32  Soil_Type_33  Soil_Type_34  Soil_Type_35  Soil_Type_36  Soil_Type_37  Soil_Type_38  Soil_Type_39  Soil_Type_40  Cover_Type
False      False   False  False                             False                           False                            False          False           False          False                               False              False              False              False              False        False        False        False        False        False        False        False        False        False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         64558
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                True          True          True          True          True          True          True          True          True          True          True          True          True          True          True          True              1
dtype: int64
...................
Elevation  Aspect  Slope  Horizontal_Distance_To_Hydrology  Vertical_Distance_To_Hydrology  Horizontal_Distance_To_Roadways  Hillshade_9am  Hillshade_Noon  Hillshade_3pm  Horizontal_Distance_To_Fire_Points  Wilderness_Area_1  Wilderness_Area_2  Wilderness_Area_3  Wilderness_Area_4  Soil_Type_1  Soil_Type_2  Soil_Type_3  Soil_Type_4  Soil_Type_5  Soil_Type_6  Soil_Type_7  Soil_Type_8  Soil_Type_9  Soil_Type_10  Soil_Type_11  Soil_Type_12  Soil_Type_13  Soil_Type_14  Soil_Type_15  Soil_Type_16  Soil_Type_17  Soil_Type_18  Soil_Type_19  Soil_Type_20  Soil_Type_21  Soil_Type_22  Soil_Type_23  Soil_Type_24  Soil_Type_25  Soil_Type_26  Soil_Type_27  Soil_Type_28  Soil_Type_29  Soil_Type_30  Soil_Type_31  Soil_Type_32  Soil_Type_33  Soil_Type_34  Soil_Type_35  Soil_Type_36  Soil_Type_37  Soil_Type_38  Soil_Type_39  Soil_Type_40
False      False   False  False                             False                           False                            False          False           False          False                               False              False              False              False              False        False        False        False        False        False        False        False        False        False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False           50000
dtype: int64

In [8]:
x = train_data['Soil_Type_18'].isnull().value_counts()
len(x)

1

In [9]:
for i in train_data:
  x = train_data[i].isnull().value_counts()
  if len(x) > 1:
    train_data[i].fillna(train_data[i].mode()[0], inplace=True)

In [10]:
print(train_data.isnull().value_counts())

Elevation  Aspect  Slope  Horizontal_Distance_To_Hydrology  Vertical_Distance_To_Hydrology  Horizontal_Distance_To_Roadways  Hillshade_9am  Hillshade_Noon  Hillshade_3pm  Horizontal_Distance_To_Fire_Points  Wilderness_Area_1  Wilderness_Area_2  Wilderness_Area_3  Wilderness_Area_4  Soil_Type_1  Soil_Type_2  Soil_Type_3  Soil_Type_4  Soil_Type_5  Soil_Type_6  Soil_Type_7  Soil_Type_8  Soil_Type_9  Soil_Type_10  Soil_Type_11  Soil_Type_12  Soil_Type_13  Soil_Type_14  Soil_Type_15  Soil_Type_16  Soil_Type_17  Soil_Type_18  Soil_Type_19  Soil_Type_20  Soil_Type_21  Soil_Type_22  Soil_Type_23  Soil_Type_24  Soil_Type_25  Soil_Type_26  Soil_Type_27  Soil_Type_28  Soil_Type_29  Soil_Type_30  Soil_Type_31  Soil_Type_32  Soil_Type_33  Soil_Type_34  Soil_Type_35  Soil_Type_36  Soil_Type_37  Soil_Type_38  Soil_Type_39  Soil_Type_40  Cover_Type
False      False   False  False                             False                           False                            False          False           False          False                               False              False              False              False              False        False        False        False        False        False        False        False        False        False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         64559
dtype: int64

In [12]:
for i in test_data:
  x = test_data[i].isnull().value_counts()
  if len(x) > 1:
    test_data[i].fillna(test_data[i].mode()[0], inplace=True)

In [13]:
print(test_data.isnull().value_counts())

Elevation  Aspect  Slope  Horizontal_Distance_To_Hydrology  Vertical_Distance_To_Hydrology  Horizontal_Distance_To_Roadways  Hillshade_9am  Hillshade_Noon  Hillshade_3pm  Horizontal_Distance_To_Fire_Points  Wilderness_Area_1  Wilderness_Area_2  Wilderness_Area_3  Wilderness_Area_4  Soil_Type_1  Soil_Type_2  Soil_Type_3  Soil_Type_4  Soil_Type_5  Soil_Type_6  Soil_Type_7  Soil_Type_8  Soil_Type_9  Soil_Type_10  Soil_Type_11  Soil_Type_12  Soil_Type_13  Soil_Type_14  Soil_Type_15  Soil_Type_16  Soil_Type_17  Soil_Type_18  Soil_Type_19  Soil_Type_20  Soil_Type_21  Soil_Type_22  Soil_Type_23  Soil_Type_24  Soil_Type_25  Soil_Type_26  Soil_Type_27  Soil_Type_28  Soil_Type_29  Soil_Type_30  Soil_Type_31  Soil_Type_32  Soil_Type_33  Soil_Type_34  Soil_Type_35  Soil_Type_36  Soil_Type_37  Soil_Type_38  Soil_Type_39  Soil_Type_40
False      False   False  False                             False                           False                            False          False           False          False                               False              False              False              False              False        False        False        False        False        False        False        False        False        False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False         False           50000
dtype: int64

In [14]:
train_data.describe()

          Elevation        Aspect  ...  Soil_Type_40    Cover_Type
count  64559.000000  64559.000000  ...  64559.000000  64559.000000
mean    2749.512198    156.419941  ...      0.026797      4.001874
std      417.974551    109.592626  ...      0.161492      1.999399
min     1859.000000      0.000000  ...      0.000000      1.000000
25%     2375.000000     66.000000  ...      0.000000      2.000000
50%     2756.000000    125.000000  ...      0.000000      4.000000
75%     3106.000000    260.000000  ...      0.000000      6.000000
max     3854.000000    360.000000  ...      1.000000      7.000000

[8 rows x 55 columns]

In [15]:
test_data.describe()

          Elevation       Aspect  ...  Soil_Type_39  Soil_Type_40
count  50000.000000  50000.00000  ...  50000.000000  50000.000000
mean    2748.642400    156.51626  ...      0.041460      0.027620
std      418.376827    109.42698  ...      0.199354      0.163883
min     1877.000000      0.00000  ...      0.000000      0.000000
25%     2373.000000     66.00000  ...      0.000000      0.000000
50%     2753.000000    125.00000  ...      0.000000      0.000000
75%     3106.000000    260.00000  ...      0.000000      0.000000
max     3858.000000    360.00000  ...      1.000000      1.000000

[8 rows x 54 columns]

In [16]:
X = train_data.drop('Cover_Type', axis = 1)
y = train_data['Cover_Type']

In [17]:
X

       Elevation  Aspect  Slope  ...  Soil_Type_38  Soil_Type_39  Soil_Type_40
0           2696     123     10  ...           0.0           0.0           0.0
1           3269     110     19  ...           1.0           0.0           0.0
2           3283     322     18  ...           1.0           0.0           0.0
3           2847      89     31  ...           0.0           0.0           0.0
4           3248      93     12  ...           0.0           0.0           0.0
...          ...     ...    ...  ...           ...           ...           ...
64554       3259     309      3  ...           0.0           0.0           0.0
64555       2309     268     28  ...           0.0           0.0           0.0
64556       2247      11      2  ...           0.0           0.0           0.0
64557       3183     239     12  ...           0.0           0.0           0.0
64558       3069      45     11  ...           0.0           0.0           0.0

[64559 rows x 54 columns]

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_validate, y_train, y_validate = train_test_split(X,y,test_size = 0.25, random_state=42)

In [19]:
X_test = test_data

In [20]:
X_test.shape

(50000, 54)

In [21]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
pred = lr.predict(X_validate)

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_validate,pred )

0.6116480793060719

In [24]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators = 100)
random_forest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [25]:
random_pred = random_forest.predict(X_validate)

In [26]:
accuracy_score(y_validate,random_pred )

0.9232961586121438

In [27]:
from sklearn.naive_bayes import GaussianNB
naive_model = GaussianNB()
naive_model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [28]:
naive_pred = naive_model.predict(X_validate)

In [29]:
accuracy_score(y_validate,naive_pred )

0.5848822800495663

In [30]:
y_pred = random_forest.predict(X_test)

In [31]:
y_pred.shape

(50000,)

In [32]:
res = pd.DataFrame(y_pred, columns=['prediction'])

In [33]:
res.head()

   prediction
0         4.0
1         5.0
2         6.0
3         2.0
4         6.0

In [34]:
res.shape

(50000, 1)

In [35]:
res.to_csv('Results.csv')

In [ ]:
len(X_test)

In [ ]:
len(train_data)